
#include <stdlib.h>
#include <stdio.h>

{% for nonterm in nonterminals %}
	
typedef struct s_{{ nonterm.grammarName }}{% if nonterm.derivNum > 0 %}{{ nonterm.derivNum }}{% endif %} {
	char 		*name;
	metaData	*metadata;
	int 		deriv_number;

	{% for descrip in nonterm.grammarDescription %}
		{%- if descrip[-1] == "0" %}
	t_{{ descrip[:-1] }} *_{{ descrip[:-1] }};
		{%- else %}
	t_{{ descrip }} *_{{ descrip }};
		{%- endif %}
	{%- endfor %}
}	t_{{ nonterm.grammarName }}{% if nonterm.derivNum > 0 %}{{ nonterm.derivNum }}{% endif -%};


void 	*init_nonterm_{{ nonterm.grammarName }}{% if nonterm.derivNum > 0 %}{{ nonterm.derivNum }}{% endif %}() {
	t_{{ nonterm.grammarName }}{% if nonterm.derivNum > 0 %}{{ nonterm.derivNum }}{% endif %} *new_ptr;

	{% for descrip in nonterm.grammarDescription %}
		{%- if descrip[-1] == "0" %}
	new_ptr->_{{ descrip[:-1] }} = (t_{{ descrip[:-1]}}*)malloc(sizeof(t_{{ descrip[:-1] }}));
		{%- else %}
	new_ptr->_{{ descrip }} = (t_{{ descrip }}*)malloc(sizeof(t_{{ descrip }}));
		{%- endif %}
	{%- endfor %}
	return (new_ptr);
}

{% endfor %}









